.App {
    background: #92C1F0;
}

.home-grid {
    background: #92C1F0;
    justify-content:center;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.breaker br {
    content: "";
    margin: 12%;
    display: block;
}

@media only screen and (min-width: 0px) {
    .banner-text h1 {
        font-size: 30px;
        color: black;
        font-family: 'Work Sans';
        margin-bottom: 0.25em;
    }

    .banner-text span {
        display: block;
        margin-top: -0.15em;
    }
    
    .banner-text p {
        font-size: 14px;
        color: black;
        font-family: 'Open Sans';
    }
    
    .banner-text br {
        content: "";
        margin: -1.75em;
        display: block;
        font-size: 20%;
    }
    
    .banner-text hr {
        border-top: 1px solid black;
        width: 12.5em;
        margin-top: -0.25em;
        margin-bottom: 0.75em;
        margin-left: auto;
        margin-right: auto;
    }
    
    .social-links {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .social-links img {
        padding: 2px;
    }
    
    .social-icon {
        height: 45px;
    }   
}

@media only screen and (min-width: 425px) {
    .banner-text h1 {
        font-size: 37px;
        color: black;
        font-family: 'Work Sans';
        margin-bottom: 0.25em;
    }

    .banner-text span {
        display: block;
        margin-top: -0.2em;
    }
    
    .banner-text p {
        font-size: 17px;
        color: black;
        font-family: 'Open Sans';
    }
    
    .banner-text br {
        content: "";
        margin: 0em;
        display: block;
        font-size: 20%;
    }
    
    .banner-text hr {
        border-top: 1px solid black;
        width: 12.5em;
        margin-top: 0em;
        margin-bottom: 1em;
        margin-left: auto;
        margin-right: auto;
    }
    
    .social-links {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .social-links img {
        padding: 4px;
    }
    
    .social-icon {
        height: 50px;
    }   
}

@media only screen and (min-width: 768px) {
    .banner-text h1 {
        font-size: 40px;
        color: black;
        font-family: 'Work Sans';
        margin-bottom: 0.25em;
    }

    .banner-text span {
        display: inline;
        margin-top: 0em;
    }
    
    .banner-text p {
        font-size: 18px;
        color: black;
        font-family: 'Open Sans';
    }
    
    .banner-text br {
        content: "";
        margin: 0em;
        display: block;
        font-size: 20%;
    }
    
    .banner-text hr {
        border-top: 1px solid black;
        width: 15em;
        margin-top: 1.5em;
        margin-bottom: 1.25em;
        margin-left: auto;
        margin-right: auto;
    }
    
    .social-links {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .social-links img {
        padding: 6px;
    }
    
    .social-icon {
        height: 55px;
    }   
}

@media only screen and (min-width: 1024px) {
    .banner-text h1 {
        font-size: 50px;
        color: black;
        font-family: 'Work Sans';
        margin-bottom: 0.25em;
    }

    .banner-text span {
        display: inline;
        margin-top: 0em;
    }
    
    .banner-text p {
        font-size: 23px;
        color: black;
        font-family: 'Open Sans';
    }
    
    .banner-text br {
        content: "";
        margin: 1.5em;
        display: block;
        font-size: 20%;
    }
    
    .banner-text hr {
        border-top: 1px solid black;
        width: 19em;
        margin-top: 2em;
        margin-bottom: 1.5em;
        margin-left: auto;
        margin-right: auto;
    }
    
    .social-links {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .social-links img {
        padding: px;
    }
    
    .social-icon {
        height: 60px;
    }   
}

@media only screen and (min-width: 1440px) {
    .banner-text h1 {
        font-size: 65px;
        color: black;
        font-family: 'Work Sans';
        margin-bottom: 0.1em;
    }

    .banner-text span {
        display: inline;
        margin-top: 0em;
    }
    
    .banner-text p {
        font-size: 25px;
        color: black;
        font-family: 'Open Sans';
    }
    
    .banner-text br {
        content: "";
        margin: 1.5em;
        display: block;
        font-size: 20%;
    }
    
    .banner-text hr {
        border-top: 1px solid black;
        width: 24em;
        margin-top: 2.25em;
        margin-bottom: 1.25em;
        margin-left: auto;
        margin-right: auto;
    }
    
    .social-links {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .social-links img {
        padding: 10px;
    }
    
    .social-icon {
        height: 80px;
    }   
}

@media only screen and (min-width: 2560px) {
    .banner-text h1 {
        font-size: 90px;
        color: black;
        font-family: 'Work Sans';
        margin-bottom: 0.5em;
    }

    .banner-text span {
        display: inline;
        margin-top: 0em;
    }
    
    .banner-text p {
        font-size: 40px;
        color: black;
        font-family: 'Open Sans';
    }
    
    .banner-text br {
        content: "";
        margin: 4em;
        display: block;
        font-size: 20%;
    }
    
    .banner-text hr {
        border-top: 1px solid black;
        width: 24em;
        margin-top: 3.75em;
        margin-bottom: 2.5em;
        margin-left: auto;
        margin-right: auto;
    }
    
    .social-links {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .social-links img {
        padding: 15px;
    }
    
    .social-icon {
        height: 125px;
    }   
}